/*
http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700|Cookie
*/
/*
http://fonts.gstatic.com/s/cookie/v7/crMuSvy3krjox1JAKfe7Ew.woff2
http://fonts.gstatic.com/s/cookie/v7/Tvkve1y-JrkMx2S9u2OW1g.woff
http://fonts.gstatic.com/s/cookie/v7/ZOqaoewIKUHyn-25tpODJOvvDin1pK8aKteLpeZ5c0A.ttf
*/
@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: local('Cookie-Regular'),
        url('../fonts/Cookie-Regular.woff2') format('woff2'),
        url('../fonts/Cookie-Regular.woff') format('woff'),
        url('../fonts/Cookie-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRcITWGgmQvtcmgaGakhz0f4.woff2
http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRVMR8FhBa8rkfAKaPBwAU3s.woff
http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRQ91NDJQ8xmnNnfLhE67IyP3rGVtsTkPsbDajuO5ueQw.ttf
*/
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    src: local('Yanone Kaffeesatz Light'), local('YanoneKaffeesatz-Light'),
        url('../fonts/YanoneKaffeesatz-Light.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Light.woff') format('woff'),
        url('../fonts/YanoneKaffeesatz-Light.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2
http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff
http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLXH4RvoIgd8UGj-uxFsyfXs.ttf
*/
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), 
        url('../fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff'),
        url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* 
http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRfZL2QQ6ZygscP6wIFo8mp8.woff2
http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRWwXwFHHZlCwprwJOQ-Se7k.woff
http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRRRjjUELlQic2wedUVqnm0D3rGVtsTkPsbDajuO5ueQw.ttf
 */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'),
        url('../fonts/YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Bold.woff') format('woff'),
        url('../fonts/YanoneKaffeesatz-Bold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
