
@font-face {
  font-family: 'Cookie-Regular';
  src: url('../fonts/Cookie-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cookie-Regular.woff') format('woff'),
  url('../fonts/Cookie-Regular.ttf')  format('truetype'),
  url('../fonts/Cookie-Regular.svg#Cookie-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'YanoneKaffeesatz-Light';
  src: url('../fonts/YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/YanoneKaffeesatz-Light.woff') format('woff'),
  url('../fonts/YanoneKaffeesatz-Light.ttf')  format('truetype'),
  url('../fonts/YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'YanoneKaffeesatz-Regular';
  src: url('../fonts/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff'),
  url('../fonts/YanoneKaffeesatz-Regular.ttf')  format('truetype'),
  url('../fonts/YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'YanoneKaffeesatz-Bold';
  src: url('../fonts/YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/YanoneKaffeesatz-Bold.woff') format('woff'),
  url('../fonts/YanoneKaffeesatz-Bold.ttf')  format('truetype'),
  url('../fonts/YanoneKaffeesatz-Bold.svg#YanoneKaffeesatz-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
